<h1>New File Uploader</h1>



<%= form_for @file_uploader, url: {action: "create"} do |f| %>
    <%= f.file_field :data_file %>
    <br>
    <%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', file_uploaders_path %>

