/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    background-color: whitesmoke;
}
.main-body {
    padding: 15px;
    font-family: "Open Sans";
    
    background-color: whitesmoke;
}

table {
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
}
table thead {
    background-color: #343a40;
    color: whitesmoke;
    
}
table th:first-child {
    border-top-left-radius: 10px;
}
table th:last-child {
    border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.table-borderless th {
    border-collapse: collapse;
}
td {
    width: 5px;

}


.file-name {
     color: green;
}






